<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>About "The Blue PC Store"</h1>

<p>Welcome to The Blue PC Store!</p>

<p>
    At The Blue PC Store, we're passionate about providing top-quality computing solutions to meet all your needs. Whether you're a seasoned gamer, a creative professional, or simply looking for a reliable everyday computer, we've got you covered.
</p>

<p>
    Founded in 2024, The Blue PC Store has quickly established itself as a leading destination for PC enthusiasts and technology aficionados alike. Our team of experts is dedicated to sourcing the latest and most innovative hardware and software to ensure that our customers stay ahead of the curve.

</p>

<p>
    What sets us apart is our commitment to customer satisfaction. We understand that purchasing a new computer can be a daunting experience, which is why we strive to provide personalized service and expert advice every step of the way. Whether you're customizing a gaming rig or upgrading your office setup, our knowledgeable staff are here to help you find the perfect solution tailored to your specific requirements.

</p>

<p>
    But we're more than just a store – we're a community. Join us on our journey as we explore the latest trends in PC technology, share tips and tricks for optimizing your setup, and celebrate the passion for all things computing.

</p>

<p>
    Thank you for choosing The Blue PC Store. We look forward to serving you and helping you unlock the full potential of your PC experience.

</p>

<p>
    Happy computing!

</p>

<p>
    The Blue PC Store Team

</p>

<a href="http://localhost:8080/">Link
    to Main Screen</a>
</body>

</html>