<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Part Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Inhouse Part Detail</h1>
<form action="#" th:action="@{/showFormAddInPart}" th:object="${inhousepart}" method="POST"}>

<!-- Add hidden form field to handle update -->
    <p><input type="hidden" th:field="*{id}"/></p>

<label for="name">Part Name: </label>
<p><input id="name" type="text" th:field="*{name}" placeholder="Name" class="form-control mb-4 col-4"/></p>

<label for="price">Part Price: </label>
<p><input type="text" id="price" path="price" th:field="*{price}" placeholder= "Price" class="form-control mb-4 col-4"/></p>
<p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</p>

<label for="inv">Inventory: </label>
<p><input type="text" id="inv" path="inv" th:field="*{inv}" placeholder="Inventory" class="form-control mb-4 col-4"/></p>
    <p th:if="${#fields.hasErrors('inv')}" th:errors="*{inv}">Inventory Error</p>

<label for="partID">Part ID: </label>
<p><input type="text" id="partID" th:field="*{partId}" placeholder="Part ID" class="form-control mb-4 col-4"/></p>

<p><input type="submit" value="Submit" /></p>
</form>
<p><errors path="price" cssClass=""error/><p>

<a href="http://localhost:8080/">Link
    to Main Screen</a>
</body>
</html>